boto3==1.17.1
Django==3.1.6
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-guardian==0.3.0
django-s3-storage==0.13.4
django-structlog
drf-spectacular==0.13.2
Markdown==3.3.3
mercantile==1.1.6
psycopg2-binary==2.8.6
pystac==0.5.4
PyYAML==5.4.1
rasterio==1.2.3
sat-stac==0.4.0
sentry-sdk
uritemplate==3.0.1
zappa==0.52.0
git+ssh://git@github.com/tesselo/pixels.git@6b24d71b3826a85b58e5892cded28c959661fd42#egg=pixels
